@import '../styles/main.module.scss';

.container {
    background-color: rgba(26, 26, 26, 0.85);
    width: 240px;
    height: 360px;
    padding: 20px 20px;
    border-radius: 10px;
}

.container img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.container h4 {
    font-family: 'modesevenregular', Arial, sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

.container h5 {
    margin: 0 auto;
    font-family: 'modesevenregular', Arial, sans-serif;
    font-size: 12px;
}

.container h6 {
    margin: 10px auto;
    line-height: 120%;
    font-family: 'modesevenregular', Arial, sans-serif;
    font-size: 14px;
}

@font-face {
    font-family: 'modesevenregular';
    src: url('../styles/fonts/mode_seven/modeseven-l3n5-webfont.woff2') format('woff2'),
        url('../styles/fonts/mode_seven/modeseven-l3n5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
