absl-py==0.8.1
alabaster==0.7.12
allennlp==0.8.4
appdirs==1.4.3
appnope==0.1.2
astor==0.8.0
atomicwrites==1.3.0
attrs==18.1.0
awscli==1.16.188
Babel==2.7.0
backcall==0.1.0
black==18.6b4
bleach==3.1.0
blis==0.2.4
boto3==1.9.178
botocore==1.12.178
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
conllu==0.11
cycler==0.10.0
cymem==2.0.2
Cython==0.28.5
decorator==4.3.0
defusedxml==0.6.0
docutils==0.14
editdistance==0.5.3
entrypoints==0.3
flaky==3.6.0
Flask==1.0.3
Flask-Cors==3.0.8
ftfy==5.5.1
future==0.16.0
gast==0.3.2
gevent==1.4.0
glfw==1.7.0
google-pasta==0.1.7
greenlet==0.4.15
grpcio==1.24.3
gym==0.10.5
h5py==2.9.0
idna==2.7
imageio==2.3.0
imagesize==1.1.0
importlib-metadata==0.18
ipykernel==5.1.1
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.14.1
Jinja2==2.10.1
jmespath==0.9.4
jsonnet==0.13.0
jsonpickle==1.2
jsonschema==3.0.1
jupyter-client==5.3.1
jupyter-core==4.5.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.3
mistune==0.8.4
more-itertools==7.1.0
mpmath==1.0.0
mujoco-py==1.50.1.56
murmurhash==1.0.2
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.2
nltk==3.4.3
notebook==6.0.0
Nuitka==0.6.5
numpy==1.19.2
numpydoc==0.9.1
overrides==1.9
packaging==19.0
pandas==0.25.0
pandocfilters==1.4.2
parsimonious==0.8.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.2.0
plac==0.9.6
pluggy==0.12.0
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.8.0
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.5
pycparser==2.18
pygame==1.9.6
pyglet==1.3.2
Pygments==2.4.2
PyMonad==1.3
PyOpenGL==3.1.0
pyparsing==2.2.0
pyrsistent==0.15.2
pytest==4.6.3
python-dateutil==2.7.3
pytorch-pretrained-bert==0.6.2
pytz==2018.5
PyYAML==3.13
pyzmq==18.0.2
regex==2019.6.8
requests==2.19.1
responses==0.10.6
rsa==3.4.2
s3transfer==0.2.1
scikit-learn==0.20.0
scipy==1.1.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.11.0
sklearn==0.0
snowballstemmer==1.9.0
spacy==2.1.4
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
srsly==0.0.7
sympy==1.3
tensorboard==1.14.0
tensorboardX==1.7
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thinc==7.0.4
toml==0.9.4
torch==1.9.0
torchvision==0.2.1
tornado==6.0.3
tqdm==4.32.2
traitlets==4.3.2
typing-extensions==3.10.0.2
Unidecode==1.1.1
urllib3==1.23
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.5.1
word2number==1.1
wrapt==1.11.2
zipp==0.5.1