.home {
    background-color: black;
}

.homebg {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), 85%, rgba(0, 0, 0, 0.95)), url(~public/homebg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    padding: 3vh 10vw;
    background-color: black;
}

.section h1 {
    padding-top: 2vh;
    font-family: arcade_normalregular, Arial, sans-serif;
    font-size: 25px;
    color:rgba(255,255,0,0.85);
}

.section p {
    // not set on this font
    font-family: 'modesevenregular', Arial, sans-serif;
    font-size: 16px;
    color:rgba(255, 255, 255, 0.75);
}

.intro {
    background-image: url(~public/vortex.gif);
    background-color:rgba(0, 0, 0, 0.5)
}

// TABLES

.table, .table th, .table td {
    font-family: 'modesevenregular', Arial, sans-serif;
    font-size: 18px;
    color:rgba(255, 255, 255, 0.75);
    border: 3px solid black;
    border-collapse: collapse;
}

.table th, .table td {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.table th {
    background-color: rgba(255, 255, 255, 0.12);
}

.table td {
    background-color: rgba(255, 255, 255, 0.08);
}

.topic {
    width: 30vw;
}

// CALENDAR

.calendar {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    justify-items: center;
    opacity: 95%;
}

// FONT DECLARATIONS

@font-face {
    font-family: 'arcade_normalregular';
    src: url('fonts/arcade_n/arcade_n-webfont.woff2') format('woff2'),
         url('fonts/arcade_n/arcade_n-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'modesevenregular';
    src: url('fonts/mode_seven/modeseven-l3n5-webfont.woff2') format('woff2'),
         url('fonts/mode_seven/modeseven-l3n5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
