.homebg {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), 85%, rgba(0, 0, 0, 0.95)), url(~public/homebg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.section {
    margin: 3vh 4vw;
}

.section h1 {
    padding-top: 1vh;
    font-family: arcade_normalregular, Arial, sans-serif;
    font-size: 25px;
    color:rgba(255,255,0,0.85);
}

.section p {
    // not set on this font
    font-family: 'modesevenregular', Arial, sans-serif;
    font-size: 16px;
    color:rgba(255, 255, 255, 0.75);
}

// FONT DECLARATIONS

@font-face {
    font-family: 'arcade_normalregular';
    src: url('fonts/arcade_n/arcade_n-webfont.woff2') format('woff2'),
         url('fonts/arcade_n/arcade_n-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'modesevenregular';
    src: url('fonts/mode_seven/modeseven-l3n5-webfont.woff2') format('woff2'),
         url('fonts/mode_seven/modeseven-l3n5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
